@font-face{
    font-family: "Baskervville-Regular";
    src: url(Baskervville-Regular.otf);
}
.mainsection{
    width: auto;
    height: auto;
}
a{
    text-decoration: none;
    color: white;
}
.hNav{
    background-color: rgb(80, 122, 248);
    color: white;
    width: auto;
    height: 150px;
    display: block;
    margin-top: -2.5em;
}

ul.nav-list{
    list-style-type: none;
    font-family: sans-serif;
}
ul.nav-list li{
    float: left;
    margin-top: 4em;
    padding-left: 5px;
    padding-right: 5px;
}
ul.nav-list li:not(:last-child):after {
    padding: 0.5em;
    content: "|";
    }
#name{
    font-family:'Baskervville-Regular';
    font-size: 40.5px;
    margin-left: 14em;
}
.para1{
    float: left;
    color: rgb(101, 204, 218);
    font-family: sans-serif;
    margin-left: 36em;
    margin-top: -3em;
}
.search{
    background-color:rgb(80, 122, 248) ;
    float: left;
    margin-top: -5em;
    margin-left: 18em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 0.5em;
    border:0.1em solid;
}
.link{
    background-color:rgb(80, 122, 248) ;
    float: left;
    margin-top: -5em;
    margin-left: 28em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 0.5em;
    border:0.1em solid;
}
.main{
    background-color: rgb(21, 44, 109);
    padding: 30px;
    color: white;
    font-size: 20px;
}
ul.nav-list1{
    list-style-type: none;
    font-family: sans-serif;
}
ul.nav-list1 li{
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1.5em;
    margin-top: -2.5em;
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 4em;
}
.image{
    text-align: center;
    position: relative;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
.academics{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.academics1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.makeMove{
    background-color: rgb(120, 168, 24);
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    margin-top:10pt;
    width: auto;
    height: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
}
.makeMove .p1{
    margin-left: 1em;
    margin-top: -0.3em;
}
.makeMove .p2{
    margin-left: -12em;
    width: 750px;
    margin-top: -0.3em;
    font-size: 17px;
}
.makeMove .p1,.p2{
    float: left;
    width: 50%;
    padding: 5px;
    letter-spacing: 1px;
}
 .row .h{
    color: rgb(34, 151, 197);
    font-size: 40px;
}
.table1 .data1,.data2,.data3{
    float: left;
    width: 330px;
    height: 330px;
    padding: 1em;
    background-color: rgb(201, 213, 218);
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   
.data1{
    margin-left: 2em;
    margin-top: 1em;
}
.data2{
    margin-left: 4em;
    margin-top: 1em;
}
.data3{
    margin-left: 56em;
    margin-top: -22.6em;
}
.data4{
    float: left;
    width: 292px;
    height: 292px;
    padding: 1em;
    margin-top: 1em;
    margin-left: 0.92em;
    background-color: purple;
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.data5{
    float: left;
    width: 292px;
    height: 292px;
    padding: 1em;
    margin-top: 1em;
    margin-left: 1.85em;
    background-color: rgb(55, 132, 250);
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.data6{
    float: left;
    width: 300px;
    height: 300px;
    padding: 2em;
    margin-top: 2em;
    margin-left: 4em;
}
.table2{
    width: 280px;
    height: 280px;
    float: left;
}
.theader{
    float: left;
    width: 280px;
    height: 30px;
    margin-left: 0em;
    font-size: 24px;
    color: rgb(24, 24, 24);
}
.date{
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 107, 18);
    border: 2px solid rgb(156, 156, 156);
    border-radius: 0.5em;
}
.infolist{
    list-style-type: none;
    float: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3em;
    margin-top: -5em;
}
.p4{
    float: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1em;
    color: rgb(55, 132, 250);
}
number{
    font-size: 40px;
}
.buttons{
    float: left;
    padding: 1em;
}
.b1{
    width: 280px;
    height: 50px;
    margin: 1em;
    border-color: rgb(0, 68, 255);
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 0.5px;
    color:rgb(0, 68, 255);
}
.footer{
    width: 100%;
    height: 800px;
    padding: 0.6em;
    background-color: rgb(20, 20, 20);
    float: left;
    color: rgb(206, 206, 206);
    font-family: Arial, Helvetica, sans-serif;
}
.fl1,.fl2,.fl3,.fl4,.fl5,.fl6,.fl7, ul{
    list-style-type: none;
}
.fl1,.fl2,.fl3,.fl4,.fl5,.fl6,.fl7{
    line-height: 1.5em;
}
.fsection1,.fsection2,.fsection3,.fsection4,.fsection5,.fsection6{
    float: left;
}
.fh1,.fh2,.fh3,.fh4,.fh5,.fh6{
    margin-left: 2.1em;
}
.fsection2{
    margin-top: 17em;
    margin-left: -20em;
}
.fsection4{
    margin-top: 10em;
    margin-left: -14em;
}
.fsection5{
    margin-left: 2em;
}
.fsection6{
    margin-top: 11em;
    margin-left: -14em;
}
.fl7{
    float: right;
    margin-right: 10em;
    font-weight: bold;
    line-height: 2em;
}
.fp{
    float: left;
}
.fpc{
    float: left;
    margin-top: 5em;
    margin-left: 20em;
}
.line1{
    float: left;
    width: 99%;
    margin-top: 15em;
}
