@font-face{
    font-family: "Baskervville-Regular";
    src: url(Baskervville-Regular.otf);
}
.hNav{
    background-color: rgb(80, 122, 248);
    color: white;
    width: auto;
    height: 150px;
    display: block;
}

ul.nav-list{
    list-style-type: none;
    font-family: sans-serif;
}
ul.nav-list li{
    float: left;
    margin-top: 4em;
    padding-left: 5px;
    padding-right: 5px;
}
ul.nav-list li:not(:last-child):after {
    padding: 0.5em;
    content: "|";
    }
#name{
    font-family:'Baskervville-Regular';
    font-size: 40px;
    margin-left: 13em;
}
.para1{
    float: left;
    color: rgb(101, 204, 218);
    font-family: sans-serif;
    margin-left: 36em;
    margin-top: -3em;
}
.search{
    background-color:rgb(80, 122, 248) ;
    float: left;
    margin-top: -7em;
    margin-left: 20em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    color: white;
    width: 120px;
    height: 40px;
}
.link{
    background-color:rgb(80, 122, 248) ;
    float: left;
    margin-top: -7em;
    margin-left: 30em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    color: white;
    width: 120px;
    height: 40px;
}
.main{
    background-color: rgb(21, 44, 109);
    padding: 30px;
    color: white;
    font-size: 20px;
}
ul.nav-list1{
    list-style-type: none;
    font-family: sans-serif;
}
ul.nav-list1 li{
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1.5em;
    margin-top: -2.5em;
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 4em;
}
.image{
    text-align: center;
    position: relative;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
.academics{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.academics1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.makeMove{
    background-color: rgb(120, 168, 24);
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
.makeMove{
    display: table;
    clear: both;
    content: "";
    margin-top:10pt;
    padding: 50px;
}
.p1,.p2{
    float: left;
    width: 50%;
    padding: 5px;
    letter-spacing: 1px;
}
.p2{
    font-size: 17px;
    margin-left: -100px;
    
}
.row{
    background-color: gray;
}